<!DOCTYPE html>
<html>

<head>
	<title>Film</title>
	<link rel="stylesheet" href="/css/stile.css" />
</head>

<body>
	<nav>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</nav>
	
  <header>
	<div>
		<a href="/"><img src="https://www.pikpng.com/pngl/b/197-1977908_cool-music-logos-logo-design-music-logo-transparent.png" width="9%" /></a>
		<label><h1>SiwMusic</h1></label> 
	</div>
  </header>

	<h1>Gruppi Musicali</h1>
	<div th:if="${musicBands.isEmpty()}">Non ci sono gruppi musicali nel sistema</div>
	<ul>
		<li th:each="musicBand : ${musicBands}">
			<span th:text="${musicBand.nameBand}">Nirvana</span>
			<a th:href="@{'/admin/formUpdateMusicBand' + '/' + ${musicBand.id}}">Aggiorna</a>
		</li>
	</ul>
</body>

</html>