<!DOCTYPE html>
<html>
<head>
<meta charset="windows-1256">
<title>Musicians To Add</title>
<link rel="stylesheet" href="/css/stile.css" />
</head>
<body>
<nav>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</nav>
	
 <header>
	<div>
		<a href="/"><img src="https://www.pikpng.com/pngl/b/197-1977908_cool-music-logos-logo-design-music-logo-transparent.png" width="9%" /></a>
		<label><h1>SiwMusic</h1></label> 
	</div>
  </header>
	
	<h1 th:text="'Musicisti del gruppo musicale ' + ${musicBand.nameBand}"></h1>
	<div th:if="${musicBand.musicians.isEmpty()}">Non ci sono musicisti per questo gruppo musicale</div>
	<ul>
	<li th:each="musician : ${musicBand.musicians}">
	<span th:text="${musician.name} +' ' + ${musician.surname}"></span>
	<a th:href="@{'/admin/removeMusicianFromMusicBand/'+ ${musician.id}+'/'+${musicBand.id}}">Cancella</a>
	</li>
	</ul>
	<div>
		Musicisti che si possono aggiungere:
		<ul>
		<li th:each="musician : ${musiciansToAdd}">
		<span th:text="${musician.name} +' ' + ${musician.surname}"></span>
		<a th:href="@{'/admin/addMusicianToMusicBand/'+ ${musician.id}+'/'+${musicBand.id}}">Aggiungi</a>
		</li>
		</ul>
		</div>
		<div>
		<a th:href="@{'/admin/formUpdateMusicBand/'+ ${musicBand.id}}"><button type="button">Fine</button></a>
	</div>

</body>
</html>